$mainBlue: #0ea5e9;
$mainPurple: #673ab7;
$mainIndigo: #3f51b5;
$mainGreen: #62db68;
$mainRed: #f44336;
$mainAmber: #ffc107;
$mainCyan: #00bcd4;
$mainOrange: #ff5722;
$mainWhite: #fff;
$mainDark: #1e2936;

$primary: $mainBlue;
$secondary: $mainPurple;
$tertiary: $mainIndigo;

$success: $mainGreen;
$info: $mainCyan;
$warning: $mainAmber;
$danger: $mainRed;
$active: $mainOrange;
$light: $mainWhite;
$dark: $mainDark;
